@import url('reset.css');

body{
  background-color: #FFF;
}

div nav ul li {
  display: inline-block;
  background-color: #3FA09E;
  font-size: 3.2em;
  font-family: serif;
}

header img {
width: 100%;
position: relative;
}

div p {
margin-top: 10px;
  font-family: cursive;
}

footer {
  background-color: #3FA09E;
  margin-top: 60px;
  height: 80px;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
}
