@import url('reset.css');

body{
  background-color: #FFF;
}

div nav ul li {
  display: inline-block;
  background-color: #3FA09E;
  font-size: 3.2em;
  font-family: serif;
  text-align: center;
  font-weight: bold;
}

header img {
width: 100%;
position: relative;
}

.no {
margin-top: 10px;
font-family: cursive;
color: #FFF;
float: right;
font-size: 1.2em;
margin-right: 2em;
background-color: #700909
}

.top {
  margin-top: 20px;
  margin-bottom: 20px;
}

#footer{
  background-color: #3FA09E;
  height: 90px;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  bottom: 0px;
}

.beach{
margin-top: 50px;
width: 400px;
height: 400px;
}

.foret{
  max-width: 100%;
  margin-bottom: 50px;
  margin-top: 100px;
}

.ml{
  margin-top: 20px;
  margin-bottom: 20px;
}
