@import url('reset.css');

body{
  background-color: #FFF;
}

div nav ul li {
  display: inline-block;
  background-color: #3FA09E;
  font-size: 5.1em;
  font-family: serif;
  text-align: center;
  font-weight: bold;
  height: 1em;
  position: relative;
}

header img {
width: 100%;
position: relative;
}

.no {
margin-top: 10px;
font-family: cursive;
color: #FFF;
float: right;
font-size: 1.2em;
margin-right: 2em;
background-color: #700909
}

.top {
  margin-top: 20px;
  margin-bottom: 20px;
}

#footer{
  background-color: #3FA09E;
  height: 90px;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  bottom: 0px;
}

.beach{
margin-top: 50px;
width: 400px;
height: 400px;
}

.foret{
  max-width: 100%;
  margin-bottom: 50px;
  margin-top: 100px;
}

.ml{
  margin-top: 20px;
  margin-bottom: 20px;
}

div#wrap{
    position: relative;
    width: 200px;
    margin: auto;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

.contact{
  font-size: 3em;
  margin-top: 10px;
  font-weight: bold;
  color: red;
}

.plan {
  margin-top: 20px;
}

.bas{
  margin-bottom: 10px;
}

.titreplan{
  margin-top: 20px;
  font-size: 3em;
  font-weight: bold;
  font-family: cursive;
}

.titreparcour{
  font-size: 2em;
}

.fdprofile{
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.nomprenompostecv h1{
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  margin-bottom: 30px;
  border-width: 2px;
  border-style: inset;
  border-color: black;
}

.experienceprocv h1{
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: underline;
}

.experienceprocv ul li{
  text-align: center;
  font-size: 1.3em;
}

.competencescv h1{
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: underline;
  margin-bottom: 30px;
  margin-top: 30px;
}

.competencescv li{
  text-align: center;
  font-size: 1.3em;
  list-style-type: circle;
}

.formations h1{
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: underline;
  margin-bottom: 30px;
  margin-top: 30px;
}

.formations ul li{
  text-align: center;
  font-size: 1.3em;
}

.loisir h1{
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: underline;
  margin-bottom: 30px;
  margin-top: 30px;
}

.loisir ul li{
  text-align: center;
  font-size: 1.3em;
}

.loisir{
  margin-bottom: 30px;
}
